@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Space+Grotesk:wght@400;500;600;700&display=swap');

$strong-shadow: 0.2rem 0.2rem 0rem 0rem rgba(0, 0, 0);
$font-Space: 'Space Grotesk', sans-serif;
$text-stroke: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
$primary: #3f51b5;
$dark-primary: #303f9f;
$light-primary: #c5cae9;
$text: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #ff4081;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #e1ecfe;
  overflow-x: hidden;
  background-image: url('../assets/img/grid.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: #333;
}

.Mainpage {
  width: 100%;
  height: 100vh;
  background-repeat: repeat;
}

.Footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: #d9d9d9;
  border: 1px solid black;
  max-height: 2.5rem;
  align-items: center;
  * {
    text-decoration: none;
  }
  img {
    height: 30px;
    margin: auto 0.5rem;
  }
  .Links {
    border: 1px solid black;
    padding: 0.5rem 1.3rem;
    background-color: #f4bbea;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    img:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease-in-out;
    }
  }
}

.timeline {
  padding: 100px 0;
  position: relative;
  &::before {
    content: '';
    background: black;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline__item {
    width: 100%;
    margin-bottom: 70px;

    &:nth-child(even) {
      .timeline__content {
        float: right;
        margin: 1rem;

        .date {
          right: auto;
          left: 0;
        }

        &::after {
          content: '';
          position: absolute;
          border-style: solid;
          width: 0;
          height: 0;
          top: 30px;
          left: -15px;
          border-width: 10px 15px 10px 0;
          border-color: transparent #f5f5f5 transparent transparent;
        }
      }
    }
  }
}

.timeline__content {
  position: relative;
  width: 35%;
  padding: 0px 0px 1rem 0px;
  background: #fcc7c7;
  border: 1px solid #333;
  border-radius: 1.5rem;
  right: -9%;
  margin: 2rem;
  display: flexbox;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    left: 0.3rem;
    top: 0.2rem;
    width: 100%;
    height: 100%;
    background-color: #fbf683;
    z-index: -1;
    border: 1px solid #333;
    border-radius: 1.5rem;
  }

  .date {
    font-family: $font-Space;
    text-shadow: $text-stroke;
    margin-left: 2rem;
    color: white;
  }
  .button__container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
  }
}

.timeline__image {
  width: 100%;
  height: 100px;
  border-radius: 1.5rem 1.5rem 0 0;
  border: 1px solid black;
  object-fit: cover;
}

.timeline__img {
  width: 30px;
  height: 30px;
  background-color: #f27b0d;
  border-radius: 50%;
  position: absolute;
  left: 47.9%;
  margin-top: 25px;
  margin-left: 25px;
  border: 6px solid black;
}
.timeline__img:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
  background-color: #f27b0d;
  cursor: pointer;
}

.bnt-more {
  background-color: #f8d51d;
  border: 1px solid #000;
  font-family: $font-Space;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: $strong-shadow;
  cursor: pointer;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    background: darken($primary, 10%);
    color: $text;
    text-decoration: none;
  }
}

.timeline__card {
  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.Intro {
  background-color: #f1f6f1;
  padding: 2rem;
  text-align: center;
  border: 1px solid #333;
  height: fit-content;
  margin: 5rem auto;
  img {
    width: 100%;
    max-width: 470px;
    margin: 0;
  }
  button {
    background-color: #795bf0;
    color: #fff;
    font-weight: 400;
    height: 63px;
    width: 70%;
    max-width: 360px;
    border-radius: 90px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgba(0, 0, 0);
  }
  button:hover {
    font-size: 30px;
  }
  button:active {
    font-size: 30px;
    box-shadow: 0.1rem 0.1rem 0rem 0rem rgba(0, 0, 0);
    transition: box-shadow 0.2s ease-in-out;
  }
  h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
.Intro__p {
  background-color: #fa2424;
  max-width: max-content;
  padding: 0.1rem 1.5rem;
  border: 3px solid black;
  box-shadow: $strong-shadow;
  transform: rotate(-4deg);
}

.Intro__title {
  max-width: max-content;
  padding: 0.5rem 1rem;
  margin: auto;
  * {
    display: inline-block;
  }
}

.Intro__article {
  text-align: center;
  max-width: 360px;
  margin: 1rem auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.Header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: $font-Space;
  font-weight: 700;
  * {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
    color: white;
  }
  .Burger__menu {
    display: none;
  }
  img {
    max-width: 50px;
    margin: 1rem 1.5rem;
  }
  .decks:hover {
    color: #fcc7c7;
    text-shadow: $text-stroke;
  }
  .Burger__button {
    display: none;
  }

  .Header__links {
    margin: -0.7rem 3rem;
  }

  button {
    margin: 0.3rem 1rem;
    padding: 0.3rem 1.5rem;
    color: black;
    box-shadow: $strong-shadow;
    font-family: $font-Space;
    cursor: pointer;
  }
  .decks {
    background-color: #33c64b;
  }
  a {
    margin: auto 0.8rem;
    text-shadow: $text-stroke;
  }
  a:hover {
    font-size: 1.7rem;
    color: #fcc7c7;
  }
}
.header__pwp {
  display: flexbox;
  align-items: center;

  .ProfilePic {
    margin: 0;
    padding: 0;
    position: relative;
    top: 1.5rem;

    .ProfilePicImg {
      width: 4.5rem;
      height: 4rem;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid black;
      margin: 0;
      max-width: 4rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Header {
    .Header__links {
      display: none;
    }
    .Burger__button {
      border: none;
      background-color: transparent;
      box-shadow: none;
      display: block;
      position: absolute;
      width: fit-content;
      height: fit-content;
      right: 0.5rem;
      margin: 1rem 0;
    }

    .Burger__button i {
      transition: transform 0.3s ease-in-out;
    }

    .Burger__button i.is-open {
      transform: rotate(45deg);
    }

    .Burger__menu {
      display: block;
      background-color: #d9d9d9;
      box-shadow: $strong-shadow;
      height: 98vh;
      width: 90vw;
      padding-top: 2rem;
      right: 0;
      border: 1px solid black;
      * {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 2rem;
      }
      a {
        border: #000 solid 1px;
        width: 90%;
        margin: 2rem auto;
        box-shadow: $strong-shadow;
        color: #000;
        text-shadow: none;
      }
      button {
        border: #000 solid 1px;
        width: 90%;
        margin: 2rem auto;
        box-shadow: $strong-shadow;
      }
      .home {
        background-color: #fda3ff;
      }
      .secret {
        background-color: #f98484;
      }
      .year {
        background-color: #fffa83;
      }
    }
    .fa-bars {
      color: #000;
      cursor: pointer;
      position: relative;
    }
    .fa-times {
      color: #000;
      cursor: pointer;
      position: relative;
    }
  }

  .Footer {
    display: none;
  }
  .Intro__title {
    display: none;
  }
  .Intro__subtitle {
    display: none;
  }
}
