@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background-color: #fef9ed;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: #333;
}

.Mainpage {
  width: 100%;
  height: 100vh;
  background-repeat: repeat;
}

.Footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: #d9d9d9;
  border: 1px solid black;
  max-height: 2.5rem;
  align-items: center;
}
.Footer * {
  text-decoration: none;
}
.Footer img {
  height: 30px;
  margin: auto 0.5rem;
}
.Footer .Links {
  border: 1px solid black;
  padding: 0.5rem 1.3rem;
  background-color: #f4bbea;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.Footer .Links img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.timeline {
  padding: 100px 0;
  position: relative;
}
.timeline::before {
  content: "";
  background: black;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline .timeline__item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline .timeline__item:nth-child(even) .timeline__content {
  float: right;
  margin: 1rem;
}
.timeline .timeline__item:nth-child(even) .timeline__content .date {
  right: auto;
  left: 0;
}
.timeline .timeline__item:nth-child(even) .timeline__content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline__content {
  position: relative;
  width: 35%;
  padding: 0px 0px 1rem 0px;
  background: #fcc7c7;
  border: 1px solid #333;
  border-radius: 1.5rem;
  right: -9%;
  margin: 2rem;
  display: flexbox;
  justify-content: center;
}
.timeline__content::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  background-color: #fbf683;
  z-index: -1;
  border: 1px solid #333;
  border-radius: 1.5rem;
}
.timeline__content .date {
  font-family: "Space Grotesk", sans-serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  margin-left: 2rem;
  color: white;
}
.timeline__content .button__container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.timeline__image {
  width: 100%;
  height: 100px;
  border-radius: 1.5rem 1.5rem 0 0;
  border: 1px solid black;
  object-fit: cover;
}

.timeline__img {
  width: 30px;
  height: 30px;
  background-color: #f27b0d;
  border-radius: 50%;
  position: absolute;
  left: 47.9%;
  margin-top: 25px;
  margin-left: 25px;
  border: 6px solid black;
}

.timeline__img:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
  background-color: #f27b0d;
  cursor: pointer;
}

.bnt-more {
  background-color: #f8d51d;
  border: 1px solid #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 500;
}
.bnt-more:hover, .bnt-more:active, .bnt-more:focus {
  background: #32408f;
  color: #ffffff;
  text-decoration: none;
}

.timeline__card p {
  padding: 0 20px;
}
.timeline__card a {
  margin-left: 20px;
}

.Intro__container {
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  height: 26rem;
  background-color: #f16b4d;
}

.Intro {
  background-color: #faca52;
  padding: 2rem;
  text-align: center;
  border-top: 4px dashed #333;
  border-bottom: 4px dashed #333;
  border-width: 5px;
  height: 25rem;
  margin: 9rem auto auto auto;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
.Intro img {
  width: 100%;
  max-width: 470px;
  margin: 0;
}
.Intro .Intro__left {
  display: flexbox;
  max-width: 50%;
  align-self: flex-start;
  position: relative;
}
.Intro .Intro__right {
  display: flexbox;
  max-width: 50%;
  align-self: flex-end;
  position: relative;
}
.Intro .Intro__right .right__img {
  background-color: rgb(127, 217, 209);
  shape-outside: ellipse(20rem 20rem at 5% 0%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  display: block;
  position: relative;
  margin: auto;
}
.Intro .Intro__right .right__img::after {
  content: "";
  position: absolute;
  left: 3rem;
  top: 0;
  width: 120%;
  height: 120%;
  z-index: 0;
  background-color: black;
}
.Intro button {
  background-color: black;
  color: #fff;
  font-weight: 300;
  height: 63px;
  width: 70%;
  max-width: 360px;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
}
.Intro button:hover {
  font-size: 30px;
}
.Intro button:active {
  font-size: 30px;
  box-shadow: 0.1rem 0.1rem 0rem 0rem rgb(0, 0, 0);
  transition: box-shadow 0.2s ease-in-out;
}
.Intro h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.Intro__p {
  background-color: #fa2424;
  max-width: max-content;
  padding: 0.1rem 1.5rem;
  border: 3px solid black;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  transform: rotate(-4deg);
}

.Intro__title {
  max-width: max-content;
  padding: 0.5rem 1rem;
  color: black;
  margin: auto;
}
.Intro__title * {
  display: inline-block;
}

.Intro__text::after {
  content: " 90s!";
  font-size: 2.5rem;
  color: #333;
}

.Intro__article {
  text-align: center;
  max-width: 360px;
  margin: 1rem auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.Profile {
  display: flexbox;
  justify-content: center;
  top: 14rem;
  align-items: center;
  position: relative;
  margin: auto;
}
.Profile .Profile__decorations {
  height: 3rem;
  width: 3rem;
}
.Profile .Profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  border: 2px solid #333;
  width: 40%;
  height: fit-content;
  background-color: #d9d9d9;
  border-radius: 0.8rem;
  position: relative;
}
.Profile .Profile__container::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  background-color: #fbf683;
  z-index: -1;
  border: 1px solid #333;
  border-radius: 0.8rem;
}
.Profile .Profile__container .Profile__headline {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 20%;
  margin: 3rem 0rem 1rem 3rem;
  border-bottom: #000 4px solid;
}
.Profile .Profile__container .Profile__buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  position: relative;
}
.Profile .Profile__container .Profile__userdata {
  display: flexbox;
  width: 80%;
  margin: 2rem 0rem 0rem 10rem;
  font-size: 1.2rem;
}
.Profile .Profile__container button {
  background-color: #795bf0;
  color: #fff;
  font-weight: 400;
  height: 63px;
  width: 40%;
  max-width: 360px;
  border-radius: 90px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
}
.Profile .Profile__container button:hover {
  font-size: 1.7rem;
}
.Profile .Profile__container .ProfilePic {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
  position: relative;
  top: -15rem;
  left: -22rem;
}
.Profile .Profile__container .ProfilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
}

.Header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  z-index: 1;
}
.Header * {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
  color: white;
}
.Header .Burger__menu {
  display: none;
}
.Header img {
  max-width: 50px;
  margin: 1rem 1.5rem;
}
.Header .decks:hover {
  color: #fcc7c7;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.Header .Burger__button {
  display: none;
}
.Header .Header__links {
  margin: -0.7rem 3rem;
}
.Header button {
  margin: 0.3rem 1rem;
  padding: 0.3rem 1.5rem;
  color: rgb(245, 243, 243);
  background-color: black;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  text-transform: lowercase;
}
.Header .decks {
  background-color: #bdf3c6;
  color: #000;
}
.Header a {
  margin: auto 0.8rem;
  color: #000;
  padding: 0 1rem;
}
.Header a:hover {
  background-color: #bdf3c6;
  border: #000 1px solid;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
}

.header__pwp {
  display: flexbox;
  align-items: center;
}
.header__pwp .ProfilePic {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1.5rem;
}
.header__pwp .ProfilePic .ProfilePicImg {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0;
  max-width: 4rem;
}

.Year__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 30vh;
  top: 14rem;
  justify-content: start;
  align-items: center;
}
.Year__container .YearButton {
  height: 80%;
  background-image: url("../assets/img/necropotence.jpeg");
  width: 20rem;
  margin-left: 15rem;
  background-size: cover;
  border: #000 solid 2px;
  border-radius: 0.8rem;
  cursor: pointer;
  color: white;
  transition: filter 0.2s ease-in-out;
}
.Year__container .YearButton.YearButton::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  top: 1.1rem;
  width: 20rem;
  margin-left: 15rem;
  height: 80%;
  z-index: -1;
  background-color: #fbf683;
  border: 1px solid #333;
  border-radius: 0.8rem;
}

.ColorScroll__container {
  width: 120vw;
  height: 17vh;
  margin-top: 22rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #6e61ff;
  overflow: visible;
}

.ColorScroll__button {
  width: 18vw;
  margin-right: 3rem;
  height: 15rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  margin-top: -3rem;
}

.TypeButtons {
  height: fit-content;
  width: 100%;
  margin: 10rem auto auto auto;
  display: flexbox;
  justify-content: space-around;
  align-items: center;
}
.TypeButtons .TypeButton {
  display: block;
  margin: auto;
  width: 56rem;
  height: 10rem;
  margin-bottom: 3rem;
}

.description {
  margin: 1rem 2rem;
}
.description .Description__container {
  display: flex;
}
.description .Description__container .icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .Header .Header__links {
    display: none;
  }
  .Header .Burger__button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    display: block;
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 0.5rem;
    margin: 1rem 0;
  }
  .Header .Burger__button i {
    transition: transform 0.3s ease-in-out;
  }
  .Header .Burger__button i.is-open {
    transform: rotate(45deg);
  }
  .Header .Burger__menu {
    display: block;
    background-color: #d9d9d9;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
    height: 98vh;
    width: 90vw;
    padding-top: 2rem;
    right: 0;
    border: 1px solid black;
  }
  .Header .Burger__menu * {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
  }
  .Header .Burger__menu a {
    border: #000 solid 1px;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
    color: #000;
    text-shadow: none;
  }
  .Header .Burger__menu button {
    border: #000 solid 1px;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  }
  .Header .Burger__menu .home {
    background-color: #fda3ff;
  }
  .Header .Burger__menu .secret {
    background-color: #f98484;
  }
  .Header .Burger__menu .year {
    background-color: #fffa83;
  }
  .Header .fa-bars {
    color: #000;
    cursor: pointer;
    position: relative;
  }
  .Header .fa-times {
    color: #000;
    cursor: pointer;
    position: relative;
  }
  .Footer {
    display: none;
  }
  .Intro__title {
    display: none;
  }
  .Intro__subtitle {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
