@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background-color: #fef9ed;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: #333;
}

.Mainpage {
  width: 100%;
  height: 100vh;
  background-repeat: repeat;
}

.Footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: #d9d9d9;
  border: 1px solid black;
  max-height: 2.5rem;
  align-items: center;
}
.Footer * {
  text-decoration: none;
}
.Footer img {
  height: 30px;
  margin: auto 0.5rem;
}
.Footer .Links {
  border: 1px solid black;
  padding: 0.5rem 1.3rem;
  background-color: #f4bbea;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.Footer .Links img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.timeline {
  padding: 100px 0;
  position: relative;
}
.timeline::before {
  content: "";
  background: black;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline .timeline__item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline .timeline__item:nth-child(even) .timeline__content {
  float: right;
  margin: 1rem;
}
.timeline .timeline__item:nth-child(even) .timeline__content .date {
  right: auto;
  left: 0;
}
.timeline .timeline__item:nth-child(even) .timeline__content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline__content {
  position: relative;
  width: 35%;
  padding: 0px 0px 1rem 0px;
  background: #fcc7c7;
  border: 1px solid #333;
  border-radius: 1.5rem;
  right: -9%;
  margin: 2rem;
  display: flexbox;
  justify-content: center;
}
.timeline__content::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  background-color: #fbf683;
  z-index: -1;
  border: 1px solid #333;
  border-radius: 1.5rem;
}
.timeline__content .date {
  font-family: "Space Grotesk", sans-serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  margin-left: 2rem;
  color: white;
}
.timeline__content .button__container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.timeline__image {
  width: 100%;
  height: 100px;
  border-radius: 1.5rem 1.5rem 0 0;
  border: 1px solid black;
  object-fit: cover;
}

.timeline__img {
  width: 30px;
  height: 30px;
  background-color: #f27b0d;
  border-radius: 50%;
  position: absolute;
  left: 47.9%;
  margin-top: 25px;
  margin-left: 25px;
  border: 6px solid black;
}

.timeline__img:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
  background-color: #f27b0d;
  cursor: pointer;
}

.bnt-more {
  background-color: #f8d51d;
  border: 1px solid #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
.bnt-more:hover, .bnt-more:active, .bnt-more:focus {
  background: #32408f;
  color: #ffffff;
  text-decoration: none;
}

.timeline__card p {
  padding: 0 20px;
}
.timeline__card a {
  margin-left: 20px;
}

.Intro__container {
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  height: 26rem;
  background-color: #f16b4d;
}

.Intro {
  background-color: #faca52;
  padding: 2rem;
  text-align: center;
  border-top: 4px dashed #333;
  border-bottom: 4px dashed #333;
  border-width: 5px;
  height: 25rem;
  margin: 9rem auto auto auto;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
.Intro img {
  width: 100%;
  max-width: 470px;
  margin: 0;
}
.Intro .Intro__left {
  display: flexbox;
  max-width: 50%;
  align-self: flex-start;
  position: relative;
}
.Intro .Intro__right {
  display: flexbox;
  max-width: 50%;
  align-self: flex-end;
  position: relative;
}
.Intro .Intro__right .right__img {
  background-color: rgb(127, 217, 209);
  shape-outside: ellipse(20rem 20rem at 5% 0%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  display: block;
  position: relative;
  margin: auto;
}
.Intro .Intro__right .right__img::after {
  content: "";
  position: absolute;
  left: 3rem;
  top: 0;
  width: 120%;
  height: 120%;
  z-index: 0;
  background-color: black;
}
.Intro button {
  background-color: black;
  color: #fff;
  font-weight: 300;
  height: 63px;
  width: 70%;
  max-width: 360px;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
}
.Intro button:hover {
  font-size: 30px;
}
.Intro button:active {
  font-size: 30px;
  box-shadow: 0.1rem 0.1rem 0rem 0rem rgb(0, 0, 0);
  transition: box-shadow 0.2s ease-in-out;
}
.Intro h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.Intro__p {
  background-color: #fa2424;
  max-width: max-content;
  padding: 0.1rem 1.5rem;
  border: 3px solid black;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  transform: rotate(-4deg);
}

.Intro__title {
  max-width: max-content;
  padding: 0.5rem 1rem;
  color: black;
  margin: auto;
}
.Intro__title * {
  display: inline-block;
}

.Intro__text::after {
  content: " 90s!";
  font-size: 2.5rem;
  color: #333;
}

.Intro__article {
  text-align: center;
  max-width: 360px;
  margin: 1rem auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.Profile {
  display: flexbox;
  justify-content: center;
  top: 14rem;
  align-items: center;
  position: relative;
  margin: auto;
}
.Profile .Profile__decorations {
  height: 3rem;
  width: 3rem;
}
.Profile .Profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  border: 2px solid #333;
  width: 40%;
  height: fit-content;
  background-color: #d9d9d9;
  border-radius: 0.8rem;
  position: relative;
}
.Profile .Profile__container::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  background-color: #fbf683;
  z-index: -1;
  border: 1px solid #333;
  border-radius: 0.8rem;
}
.Profile .Profile__container .Profile__headline {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 20%;
  margin: 3rem 0rem 1rem 3rem;
  border-bottom: #000 4px solid;
}
.Profile .Profile__container .Profile__buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  position: relative;
}
.Profile .Profile__container .Profile__userdata {
  display: flexbox;
  width: 80%;
  margin: 2rem 0rem 0rem 10rem;
  font-size: 1.2rem;
}
.Profile .Profile__container button {
  background-color: #795bf0;
  color: #fff;
  font-weight: 400;
  height: 63px;
  width: 40%;
  max-width: 360px;
  border-radius: 90px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
}
.Profile .Profile__container button:hover {
  font-size: 1.7rem;
}
.Profile .Profile__container .ProfilePic {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
  position: relative;
  top: -15rem;
  left: -22rem;
}
.Profile .Profile__container .ProfilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
}

.btn__loading span {
  visibility: hidden;
  opacity: 0;
}

.btn__loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 5px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: button-loading-spinner 1.5s ease infinite;
}

@keyframes button-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  z-index: 1000;
  background-color: #fef9ed;
  box-shadow: 0.2rem 0.2rem 0rem 0rem #bdf3c6;
}
.Header * {
  display: inline-block;
  text-decoration: none;
  font-size: larger;
  color: white;
}
.Header .Burger__menu {
  display: none;
}
.Header img {
  max-width: 50px;
  margin: 1rem 1.5rem;
}
.Header .decks:hover {
  color: #fcc7c7;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.Header .Burger__button {
  display: none;
}
.Header .Header__links {
  margin: -0.7rem 3rem;
}
.Header button {
  margin: 0.3rem 1rem;
  padding: 0.3rem 1.5rem;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fef9ed;
}
.Header button:hover {
  background-color: #fcc7c7;
  color: #000;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
}
.Header .decks {
  background-color: #bdf3c6;
  color: #000;
}
.Header p {
  margin: auto 0.8rem;
  color: #000;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.Header p:hover {
  background-color: #bdf3c6;
  border: #000 1px solid;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
}

.header__pwp {
  display: flexbox;
  align-items: center;
}
.header__pwp .ProfilePic {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1.5rem;
}
.header__pwp .ProfilePic .ProfilePicImg {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0;
  max-width: 4rem;
}

.Year__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 30vh;
  top: 14rem;
  justify-content: start;
  align-items: center;
}
.Year__container .YearButton {
  max-height: 70%;
  width: 45%;
  margin-left: 15rem;
  background-size: cover;
  border: #000 solid 2px;
  border-radius: 0.8rem;
  cursor: pointer;
  object-fit: cover;
  color: white;
  transition: all 0.2s ease-in-out;
}
.Year__container .YearButton:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
.Year__container .YearButton__title {
  position: relative;
  z-index: 1;
  left: -20rem;
  top: 6.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-decoration: none;
}

.FlavorText__container {
  position: relative;
  display: flex;
  width: 40%;
  height: 30vh;
  justify-content: start;
  align-items: center;
  left: 40rem;
  margin-top: -10rem;
}
.FlavorText__container .FlavorText__title {
  position: relative;
  z-index: 1;
  top: 6.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  background-color: #bdf3c6;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  border: black solid 2px;
  padding: 1rem;
}

.ColorScroll__container {
  width: 100%;
  height: 17vh;
  margin-top: 22rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #faca52;
  overflow: visible;
  border-bottom: 7px tomato solid;
}
.ColorScroll__container .ColorScroll__button {
  width: 14vw;
  height: 15rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  margin-top: -3rem;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.ColorScroll__container .ColorScroll__button:hover {
  filter: brightness(1.2);
}
.ColorScroll__container .ColorScroll__title {
  position: relative;
  z-index: 1;
  left: -3rem;
  top: 9rem;
  width: 2rem;
  height: 2rem;
  border-radius: 90rem;
  margin: 0;
  padding: 0;
}

.TypeButtons {
  height: fit-content;
  width: 100%;
  margin: 10rem auto auto auto;
  display: flexbox;
  justify-content: space-around;
  align-items: center;
  margin-left: -2rem;
  overflow: visible;
  margin-bottom: 5rem;
}
.TypeButtons .Typebutton__container {
  width: fit-content;
  margin: auto;
}
.TypeButtons .TypeButton {
  display: block;
  margin: auto;
  width: 56rem;
  height: 10rem;
  margin-bottom: 3rem;
  object-fit: cover;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.TypeButtons .TypeButton:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
.TypeButtons .Typebutton__text {
  position: relative;
  width: fit-content;
  z-index: 1;
  top: 9rem;
  left: 20rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.description {
  margin: 1rem 2rem;
}
.description .Description__container {
  display: flex;
}
.description .Description__container .icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal .Modal__container {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  top: 0%;
}

.Modal__button__container {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  height: 1rem;
  align-items: baseline;
}
.Modal__button__container .Modal__button {
  position: relative;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background-color: #faca52;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Modal__button__container .Modal__button:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.Modal__background {
  background-color: rgba(2, 0, 0, 0.462745098);
  width: 100%;
  height: 100%;
  display: flex;
}

.card__detail__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.card__detail__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 1000;
}
.card__detail__container .card__detail__text__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5cae9;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  padding: 1rem;
}
.card__detail__container .card__detail__text__container .card__detail__text {
  width: 100%;
  height: 100%;
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1rem 1rem;
}
.card__detail__container .card__detail__text__container .card__detail__text .card__detail__title {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1rem 0;
}
.card__detail__container .card__detail__text__container .card__detail__text .card__detail__description {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.card__detail__container .card__detail__img__container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.card__detail__container .card__detail__img__container .uris__large {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 0.8rem;
  display: inline-block;
  margin-left: 2rem;
  margin-right: -2rem;
}
.card__detail__container .Card__addcard__button {
  padding: 0.5rem 1.5rem;
  height: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  background-color: #faca52;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card__detail__container .Card__addcard__button:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
.card__detail__container .Card__addcard__button:active {
  filter: brightness(0.8);
  transform: scale(0.98);
}
.card__detail__container .Addbutton__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.Catalogue__carddelete {
  width: 2rem;
  height: 2rem;
  background-color: #faca52;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Catalogue__carddelete:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.Pagebuttons__container {
  margin-top: -2rem;
}
.Pagebuttons__container .Pagebutton {
  padding: 0.5rem 1.5rem;
  height: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  background-color: #faca52;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Pagebuttons__container .Pagebutton:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
.Pagebuttons__container .Pagebutton:active {
  filter: brightness(0.8);
  transform: scale(0.98);
}

.uris__art__crop {
  display: none;
}

.Catalogue__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 4px solid black;
  border-radius: 2rem;
  background-color: #a993fe;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  position: relative;
  top: 10rem;
}
.Catalogue__container .Catalogue__card {
  width: 14rem;
  display: inline-block;
  margin: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Catalogue__container .Catalogue__card:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
.Catalogue__container .Catalogue__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
  outline: 3px solid black;
}
.Catalogue__container .Catalogue__card__title {
  position: relative;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

@media only screen and (max-width: 1000px) {
  .Header {
    z-index: 500;
    height: 9vh;
  }
  .Header .Header__links {
    display: none;
  }
  .Header .Burger__button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    display: block;
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 0.5rem;
    margin: 1rem 0;
  }
  .Header .Burger__button i {
    transition: transform 0.3s ease-in-out;
  }
  .Header .Burger__button i.is-open {
    transform: rotate(45deg);
  }
  .Header .Burger__menu {
    display: block;
    background-color: black;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    padding-top: 2rem;
    border: 1px solid black;
  }
  .Header .Burger__menu * {
    color: white;
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  .Header .Burger__menu a {
    border: #000 solid 1px;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
    color: white;
    text-shadow: none;
  }
  .Header .Burger__menu button {
    border: #000 solid 1px;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0);
  }
  .Header .fa-bars {
    color: black;
    cursor: pointer;
    position: relative;
  }
  .Header .fa-times {
    color: white;
    cursor: pointer;
    position: relative;
  }
  .Header img {
    margin: 1rem;
    width: 2rem;
  }
  .Header .decks {
    background-color: black;
  }
  .Footer {
    display: none;
  }
  .Intro__title {
    display: none;
  }
  .Intro__subtitle {
    display: none;
  }
  .Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faca52;
    padding: 0;
  }
  .Intro .Intro__text {
    display: none;
  }
  .Intro .Intro__text {
    display: none;
  }
  .Intro .Intro__p {
    display: none;
  }
  .Intro .Intro__title {
    display: none;
  }
  .Intro .Intro__subtitle {
    display: none;
  }
  .Intro__right {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
  }
  .Intro__right img {
    height: 70%;
    object-fit: cover;
  }
  .Intro__right button {
    width: 15rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: -1.6rem;
  }
  .Intro__left {
    padding: 1rem 0;
    height: 20%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .timeline {
    padding: 100px 0;
    position: relative;
  }
  .timeline::before {
    display: none;
  }
  .timeline::after {
    display: none;
  }
  .timeline .timeline__img {
    display: none;
  }
  .timeline .timeline__card {
    width: 90%;
    left: 0;
    margin: 1rem auto;
  }
  .FlavorText__container {
    display: none;
  }
  .Year__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 10rem;
  }
  .Year__container .YearButton {
    width: 100%;
    margin: 1rem auto;
  }
  .Year__container .YearButton__title {
    position: absolute;
    left: 15rem;
    top: -1rem;
  }
  .ColorScroll__container {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    display: block;
    margin-top: 17rem;
  }
  .ColorScroll__container .ColorScroll__button {
    width: 90%;
    margin: 0.5rem 0 0 1rem;
    display: inline-block;
  }
  .ColorScroll__container .ColorScroll__title {
    top: -5rem;
    height: 3.5rem;
    width: 3.5rem;
    left: 18.5rem;
  }
  .TypeButtons {
    margin: 90rem auto;
    max-width: 100%;
    border-top: 4px tomato dashed;
  }
  .TypeButtons .Typebutton__text {
    left: 3rem;
  }
  .Typebutton__container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Typebutton__container .TypeButton {
    max-width: 24rem;
    margin: 1rem auto;
  }
  .catalogue__content {
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .catalogue__content .Catalogue__card {
    width: 90%;
    margin: 1rem auto;
  }
  .Catalogue__container {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Catalogue__container .Catalogue__card {
    width: 40%;
    margin: 1rem 1rem;
  }
  .card__detail__container {
    margin-top: 3rem;
    width: 90%;
  }
  .card__detail__container .card__detail__title {
    margin: 0;
    font-size: 1.6rem;
  }
  .card__detail__container .card__detail__text__container {
    padding: 0;
  }
  .card__detail__text {
    margin: 0 1rem;
    line-height: 1.2;
  }
  .card__detail__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    width: fit-content;
  }
  .Addbutton__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card__detail__container .Card__addcard__button {
    margin: 0;
    position: relative;
    top: -1rem;
  }
  .card__detail__container .card__detail__img__container .uris__art__crop {
    margin: 0;
    width: 70%;
    margin-bottom: -1rem;
    z-index: 1000;
    outline: 2px solid black;
    display: block;
  }
  .Modal__button__container .Modal__button {
    margin: 0;
    top: 0.8rem;
    right: 0.8rem;
  }
  .card__detail__container .card__detail__img__container .uris__large {
    display: none;
  }
  .Profile .Profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .Profile .Profile__container .Profile__card {
    width: 90%;
  }
  .Profile .Profile__container .Profile__userdata {
    width: 90%;
    margin: 0 auto;
  }
  .Profile .Profile__container .Profile__headline {
    width: 90%;
    margin: 0 auto;
  }
  .Profile .Profile__container button {
    font-size: 1rem;
    background-color: #bdf3c6;
    color: black;
    width: 40%;
    border-radius: 0%;
    box-shadow: 0.2rem 0.2rem 0rem 0rem tomato;
  }
  .Profile {
    top: 10rem;
  }
  .card__detail__flavor {
    line-height: 1.3;
    padding: 0 1rem;
  }
  .FlavorText__container {
    display: none;
  }
  .FlavorText__container .FlavorText__title {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
